@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Baloo+2:wght@400..800&family=Bangers&family=Chewy&family=Cookie&family=Manrope:wght@200..800&family=Matangi:wght@300..900&family=Pattaya&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html{ 
    scroll-behavior: smooth;
}


*{
    font-family: "Matangi", sans-serif;
    font-weight: 500;
}

@theme {
    --color-primary: #5044e5;
}